:root {
    --face: #a0a0a0;
    --lowlight: #111;
    --side: #6F6F6F;
    --side-dark: #0e0e0e;
    --coin-size: 7rem;
    --head: url('crown.png');
    --tail: url('knife.png');
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    background-color: #f0efff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*
    everything above is positioning and variables.
    this is where the real fun begins...
  */
  
  .coin {
    height: var(--coin-size);
    width: var(--coin-size);
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .coin::before {
    content: '';
    display: block;
    position: relative;
    height: var(--coin-size);
    width: var(--coin-size);
    border-radius: 50%;
    background-color: var(--face);
    animation: spin 15s alternate infinite;
    background-image: var(--coin-face);
    background-size: 100% 100%;
    background-position: center;
    background-blend-mode: overlay;
    filter: saturate(0);
    animation-delay: -0.5s;
  }

/* mixins */

@mixin face($face: var(--head)) {
    width: var(--coin-size);
      box-shadow:
        0 0 0 var(--side-dark);
      animation-timing-function: ease-in;
      background-image: $face;
      background-color: var(--face);
}

@mixin edgein($face: var(--head)) {
    width: 0.1rem;
      box-shadow:
        0.05rem 0 0 var(--side),
        0.1rem 0 0 var(--side),
        0.15rem 0 0 var(--side),
        0.2rem 0 0 var(--side),
        0.25rem 0 0 var(--side),
        0.3rem 0 0 var(--side),
        0.35rem 0 0 var(--side),
        0.4rem 0 0 var(--side),
        0.45rem 0 0 var(--side),
        0.5rem 0 0 var(--side),
        0.55rem 0 0 var(--side),
        0.6rem 0 0 var(--side),
        0.65rem 0 0 var(--side),
        0.7rem 0 0 var(--side),
        0.75rem 0 0 var(--side);
      transform: translateX(-0.375rem);
      background-color: var(--lowlight);
      animation-timing-function: linear;
      background-image: $face;
}

@mixin edgeout($face: var(--head)) {
    width: 0.1rem;
      box-shadow:
        -0.05rem 0 0 var(--side),
        -0.1rem 0 0 var(--side),
        -0.15rem 0 0 var(--side),
        -0.2rem 0 0 var(--side),
        -0.25rem 0 0 var(--side),
        -0.3rem 0 0 var(--side),
        -0.35rem 0 0 var(--side),
        -0.4rem 0 0 var(--side),
        -0.45rem 0 0 var(--side),
        -0.5rem 0 0 var(--side),
        -0.55rem 0 0 var(--side),
        -0.6rem 0 0 var(--side),
        -0.65rem 0 0 var(--side),
        -0.7rem 0 0 var(--side),
        -0.75rem 0 0 var(--side);
      transform: translateX(0.375rem);
      background-color: var(--lowlight);
      animation-timing-function: ease-out;
      background-image: $face;
}

/* animation */

/* 0.0

Press Enter to exit terminal */


@keyframes spin{

  0% { @include face($face: var(--tail)); }
  6.249% { @include edgein($face: var(--tail)); }
  6.251% { @include edgeout; }
  12.5% { @include face; }
  16.999% { @include edgein; }
  17.001% { @include edgeout($face: var(--tail)); }
  21.5% { @include face($face: var(--tail)); }
  25.749% { @include edgein($face: var(--tail)); }
  25.751% { @include edgeout; }
  30% { @include face; }
  33.999% { @include edgein; }
  34.001% { @include edgeout($face: var(--tail)); }
  38% { @include face($face: var(--tail)); }
  41.749% { @include edgein($face: var(--tail)); }
  41.751% { @include edgeout; }
  45.5% { @include face; }
  48.999% { @include edgein; }
  49.001% { @include edgeout($face: var(--tail)); }
  52.5% { @include face($face: var(--tail)); }
  55.749% { @include edgein($face: var(--tail)); }
  55.751% { @include edgeout; }
  59% { @include face; }
  61.999% { @include edgein; }
  62.001% { @include edgeout($face: var(--tail)); }
  65% { @include face($face: var(--tail)); }
  67.749% { @include edgein($face: var(--tail)); }
  67.751% { @include edgeout; }
  70.5% { @include face; }
  72.999% { @include edgein; }
  73.001% { @include edgeout($face: var(--tail)); }
  75.5% { @include face($face: var(--tail)); }
  77.749% { @include edgein($face: var(--tail)); }
  77.751% { @include edgeout; }
  80% { @include face; }
  81.999% { @include edgein; }
  82.001% { @include edgeout($face: var(--tail)); }
  84% { @include face($face: var(--tail)); }
  85.749% { @include edgein($face: var(--tail)); }
  85.751% { @include edgeout; }
  87.5% { @include face; }
  88.999% { @include edgein; }
  89.001% { @include edgeout($face: var(--tail)); }
  90.5% { @include face($face: var(--tail)); }
  91.749% { @include edgein($face: var(--tail)); }
  91.751% { @include edgeout; }
  93% { @include face; }
  93.999% { @include edgein; }
  94.001% { @include edgeout($face: var(--tail)); }
  95% { @include face($face: var(--tail)); }
  95.499% { @include edgein($face: var(--tail)); }
  95.501% { @include edgeout; }
  96% { @include face; }
  96.499% { @include edgein; }
  96.501% { @include edgeout($face: var(--tail)); }
  97% { @include face($face: var(--tail)); }
  97.249% { @include edgein($face: var(--tail)); }
  97.251% { @include edgeout; }
  97.5% { @include face; }
  97.749% { @include edgein; }
  97.751% { @include edgeout($face: var(--tail)); }
  98% { @include face($face: var(--tail)); }
  98.249% { @include edgein($face: var(--tail)); }
  98.251% { @include edgeout; }
  98.5% { @include face; }
  98.749% { @include edgein; }
  98.751% { @include edgeout($face: var(--tail)); }
  99% { @include face($face: var(--tail)); }
  99.249% { @include edgein($face: var(--tail)); }
  99.251% { @include edgeout; }
  99.5% { @include face; }
  99.749% { @include edgein; }
  99.751% { @include edgeout($face: var(--tail)); }
  100% { @include face($face: var(--tail)); }
  
}